@font-face {
  font-family: 'bignoodleto';
  src: url('../fontes/big_noodle_titling_oblique.ttf'); 
}

@font-face {
  font-family: 'bignoodlet';
  src: url('../fontes/big_noodle_titling.ttf');
}